* {
  box-sizing: border-box;
  margin: 0;
}

.body-container {
  height: 100vh;
  font-family: "Bruno Ace SC", cursive;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-image: url("https://blenderartists.org/uploads/default/original/4X/7/e/2/7e2d7bea4ac21388c4a96e1371f375c4ce00094b.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  background-color: rgba(255, 255, 255, 0.33);
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 2;
  padding-bottom: 10px;
}

header {
  font-size: 48px;
  padding: 10px 20px;
  text-align: center;
}

header span:nth-of-type(even) {
  color: red;
}

header span:nth-of-type(odd) {
  color: black;
}

h1 {
  color: black;
  font-size: 20px;
  text-align: center;
  margin-top: 5px;
}

#board {
  display: grid;
  grid-template-columns: repeat(8, calc(12.5vh - 30px));
  grid-template-rows: repeat(8, calc(12.5vh - 30px));
  gap: 0;
  border: 8px solid black;
  position: relative;
  margin: auto 20px;
}

.black-piece {
  border-radius: 50%;
  color: white;
  background-color: black;
  height: calc(12.5vh - 45px);
  width: calc(12.5vh - 45px);
  display: flex;
  align-items: center;
  justify-content: center; 
}

.red-piece {
  border-radius: 50%;
  color: black;
  background-color: red;
  height: calc(12.5vh - 45px);
  width: calc(12.5vh - 45px);
  display: flex;
  align-items: center;
  justify-content: center; 
}

#board > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#board > div:hover {
  border: 0.25vmin solid blue;
  transition: 0.2s ease-out;
}

.gold {
  background-color: #ebb64a;
}

.white {
  background-color: white;
}

#black-graveyard {
  display: grid;
  grid-template-columns: repeat(2, calc(12.5vh - 30px));
  grid-template-rows: repeat(6, calc(12.5vh - 30px));
  background-color: rgba(255, 255, 255, 0.33);
  order: 1;
  margin-left: 20px;
}

#black-graveyard > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

#red-graveyard {
  display: grid;
  grid-template-columns: repeat(2, calc(12.5vh - 30px));
  grid-template-rows: repeat(6, calc(12.5vh - 30px));
  background-color: rgba(255, 255, 255, 0.33);
  order: 3;
  margin-right: 20px;
}

#red-graveyard > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

button#change-piece {
  color: white;
  background-color: black;
  transition: 0.2s ease-out;
  margin: 5px auto 20px;
  padding: 10px;
  border-radius: 9px;
  font-size: 12px;
  cursor: pointer;
}

button#change-piece:hover {
  color: white;
  background-color: rgb(60, 60, 60);
}

button#change-piece:disabled {
    cursor: auto;
    background-color: rgb(120, 120, 120);
}


button#play-again {
  color: white;
  background-color: blue;
  transition: 0.2s ease-out;

  padding: 15px;
  border-radius: 9px;
  font-size: 35px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

button#play-again:hover {
  color: white;
  background-color: darkgrey;
}




