* {
    box-sizing: border-box;
    margin: 0;
}


body {
    height: 100vh;
    margin: 0;
    font-family: 'Bruno Ace SC', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://blenderartists.org/uploads/default/original/4X/7/e/2/7e2d7bea4ac21388c4a96e1371f375c4ce00094b.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    background-color: white;
    margin-top: 5vmin;
    margin-bottom: 5vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 2
};

header {
    font-size: 6vmin;
    letter-spacing: 1vmin;
}

header span:nth-of-type(even) {
    color: black;
}

header span:nth-of-type(odd) {
    color: red;
}

h1 {
    color: black;
    font-size: 2vmin;
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(8, 10vmin);
    grid-template-rows: repeat(8, 10vmin);
    gap: 0;
    border: 1vmin solid black;
}

#board > div:hover {
    border: 0.5vmin solid blue;
    transition: 0.2s ease-out;
}

.gold {
    background-color: #EBB64A
};

.red {
    background-color: red;
}

#black-graveyard {
    display: grid;
    grid-template-columns: repeat(2, 10vmin);
    grid-template-rows: repeat(6, 10vmin);
    width: 10vw;
    background-color: white;
    order: 1
}

#red-graveyard {
    display: grid;
    grid-template-columns: repeat(2, 10vmin);
    grid-template-rows: repeat(6, 10vmin);
    width: 10vw;
    background-color: white;
    order: 3
}

button {
    border: 0.1vmin solid grey;
    color: grey;
    transition: 0.2s ease-out;
}

button:hover {
    color: white;
    background-color: darkgrey;
}